scripts/__pycache__/
scripts/.ipynb_checkpoints/
scripts/obtencion_contratos_secop.py
data/TerriData.txt.zip
data/colusiones_en_contratacion_SIC.csv
data/departamentos_y_municipios_de_colombia.csv
data/responsabilidades_fiscales.csv
bin/queries/support_queries.sql
bin/queries/*secundarias*.sql

bin/queries/*v2*.sql
scripts/*v2*.sql

bin/queries/*dash.sql
.DS_Store